<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ultimate-breakfast-web Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
        <packages>
            <package name="fr.ultimate.breakfast.ultimate-breakfast.web"/>
        </packages>
    </test>
</suite>
