<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  </head>
  <body>
  	Bonjour,<br/><br/>
  	
  	Votre nom d'utilisateur est : ${login}<br/>
  	Votre de mot de passe est : ${password}<br/><br/>
  	
  	A bientôt sur <a href="${url}">Ultimate Breakfast</a>
  </body>
</html>